h1 {
  color: white;
  background-color: black;
}

.register {
  color: green;
  border-style: double;
  padding: 10px;
  margin: 5px;
}

.login {
  color: orange;
  border-style: dotted;
  padding: 10px;
  margin: 5px;
}

#main {
  text-align: center;
  display: inline;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  margin: 5px;
}

.password {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-bottom: 20px;
  align-content: space-around;
}

.register-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-bottom: 20px;
  align-content: space-around;
}

.register-line {
  font-size: 14px;
}

.home-buttons {
  justify-content: space-around;
  align-items: center;
  display: flex;
  text-align: center;
}

.bookEntry {
  margin: 5px;
}

h3 {
  margin: 3px;
  padding: 5px;
}

.delete-button {
  padding: 5px;
}
